*~
*.5
*.8
ABOUT-NLS
aclocal.m4
autom4te.cache
codeset.m4
config.*
configure
depcomp
.deps
INSTALL
install-sh
libtool
ltmain.sh
*.m4
Makefile
Makefile.in
mdate-sh
missing
mydns.info
*.o
POTFILES
*.spec
stamp-h1
stamp-vti
*.tar.bz2
*.tar.gz
texinfo.tex
version.texi
intl/
