*~
*.5
*.8
*.a
ABOUT-NLS
aclocal.m4
autom4te.cache
codeset.m4
config.*
configure
depcomp
.deps
INSTALL
install-sh
intl/
libtool
ltmain.sh
*.m4
Makefile
Makefile.in
mdate-sh
missing
mydns
mydnscheck
mydns-conf
mydnsexport
mydnsimport
mydns.info
mydnsptrconvert
*.o
POTFILES
*.spec
stamp-h1
stamp-vti
*.tar.bz2
*.tar.gz
texinfo.tex
version.texi
